@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gradient-border {
    border-top: 3px solid;
    border-image-source: linear-gradient(
      23.96deg,
      #76c38f 0%,
      #60cf8c 48.44%,
      #a7c12c 100%
    );
    border-image-slice: 1;
  }

  .gradient-bg {
    background-image: linear-gradient(
      23.96deg,
      #76c38f 0%,
      #60cf8c 48.44%,
      #a7c12c 100%
    );
  }
}